<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ВКР</title>
    <link rel="stylesheet" href="%% url_for('static', filename='css/bootstrap.min.css') %%">
    <link rel="stylesheet" href="%% url_for('static', filename='css/bootstrap-vue.min.css') %%">
    <style>
        body{
            background-color: #F4F4F4;
        }
        .plot{
            max-height: 400px;
        }
    </style>
</head>
<body>
<div id="app">
    <b-container fluid>
        <b-row>
            <b-col cols="4">
                <left-form :methods="methods" :patient-result="patientResultFormatted"></left-form>
            </b-col>
            <b-col cols="8">
                <b-row>
                    <b-col cols="6">Чувствительность: {{ sensitivity }}</b-col>
                    <b-col cols="6">Специфичность: {{ specificity }}</b-col>
                </b-row>
                <b-row>
                    <b-col cols="6">
                        <vue-plotly :data="mainAccuracyData" :layout="mainAccuracy.layout" uid="mainAccuracyPie" class="plot"/>
                    </b-col>
                    <b-col cols="6">

                    </b-col>
                </b-row>
                <b-row>
                    <b-col cols="6">
                        <vue-plotly :data="frequencyTumor.data" :layout="frequencyTumor.layout" uid="frequencyTumorHistogram" class="plot"/>
                    </b-col>
                    <b-col cols="6">
                        <vue-plotly :data="frequencyTemperature.data" :layout="frequencyTemperature.layout" uid="frequencyTemperatureBox" class="plot"/>
                    </b-col>
                </b-row>
            </b-col>
        </b-row>
    </b-container>
</div>

<template id="template-left-form">
    <div>
        <b-row>
            <b-col cols="12"><label>Файл с данными</label></b-col>
            <b-col>
                <b-input v-model="importFilePath"></b-input>
            </b-col>
            <b-col>
                <b-button block>Выбрать csv-файл</b-button>
            </b-col>
        </b-row>
        <b-row>
            <b-col cols="6"><label>Процент тестовой выборки</label></b-col>
            <b-col cols="6"><label>Метод</label></b-col>
            <b-col>
                <b-input-group append="%">
                    <b-form-input v-model="testPercent"></b-form-input>
                </b-input-group>
            </b-col>
            <b-col>
                <b-form-select v-model="selectedMethod" :options="methodsForSelect"></b-form-select>
            </b-col>
        </b-row>
        <b-row>
            <b-col class="py-2">
                <b-button variant="danger" @click="onTrainHandler" block>Обучить</b-button>
            </b-col>
            <b-col class="py-2">
                <b-button variant="success" @click="onPredictHandler" block>Запустить</b-button>
            </b-col>
        </b-row>
        <recipient-form :patient-result="patientResult"/>
    </div>
</template>

<template id="template-recipient-form">
    <div>
        <b-row>
            <b-col>
                <label>Данные пациента</label>
            </b-col>
        </b-row>
        <b-row class="px-2">
            <b-col v-for="(item, key) in rt" :key="key" style="padding-left: 5px; padding-right: 5px;">
                <div>
                    <label>{{ key }} РТ</label>
                </div>
                <b-input v-model="rt[key]"></b-input>
            </b-col>
        </b-row>
        <b-row class="px-2">
            <b-col v-for="(item, key) in ik" :key="key" style="padding-left: 5px; padding-right: 5px;">
                <div>
                    <label>{{ key }} ИК</label>
                </div>
                <b-input v-model="ik[key]"></b-input>
            </b-col>
        </b-row>
        <b-row class="pt-2">
            <b-col>
                <b-button variant="danger" @click="onDiagnoseHandler" block>Диагностировать</b-button>
            </b-col>
            <b-col>
                <b-input placeholder="Результат" :value="patientResult" readonly></b-input>
            </b-col>
        </b-row>
    </div>
</template>

{% if debug %}
    <script src="%% url_for('static', filename='js/vue.js') %%"></script>
{% else %}
    <script src="%% url_for('static', filename='js/vue.min.js') %%"></script>
{% endif %}
<script src="%% url_for('static', filename='js/axios.min.js') %%"></script>
<script src="%% url_for('static', filename='js/bootstrap-vue.min.js') %%"></script>
<script src="%% url_for('static', filename='js/bootstrap-vue-icons.min.js') %%"></script>
<script src="%% url_for('static', filename='js/plotly-latest.min.js') %%"></script>

<script>
    window.appHost = '%% host %%';
</script>
<script src="%% url_for('static', filename='js/components.js') %%"></script>
</body>
</html>